@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">FizzBuzz</h1>
    <p>@ViewData["result"]</p>
    <h1>@ViewBag.Result</h1>

</div>
